﻿@model VencruApi.Models.ContactUsModel
<!doctype html>
<html lang="EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email</title>

</head>
<body>

    <div style="
            position: relative;
            float: none;
            clear: both;
            width: 100%;
            margin: 0 auto;
            max-width: 720px;
        ">
        <div style="
                position: relative;
                float: left;
                width: 100%;
                background-color: #fff;
                font-family: sans-serif;
            ">
            <div style="
                    position: relative;
                    float: left;
                    width: 100%;
                    text-align: left;
                    padding: 20px 20px 20px;
                ">
                <img style="
                            display: inline-block;
                            width: 100px;
                            height: 79.5px;
                        "
                     src="https://www.vencru.com/Content/img/logos/Logo-Blue.png" />
            </div>

            <div style="
                    position: relative;
                    float: left;
                    width: 100%;
                    padding: 20px 20px 20px;
                    background-color: #f5f5f5;
                ">
                <h3 style='font-size: 18.72px;'>Welcome to Vencru SMEBeta</h3>
                <p style="margin-bottom: 10px;">
                  Contact us email from  @Model.emailaddress
                </p>
                <p style="margin-bottom: 10px;">
                    @Model.question
                </p>

                <p>
                    Thank you!<br /><br />
                    <span style="color: #2D74DA;">Your friends at Vencru</span>
                </p>
            </div>
        </div>
    </div>

</body>
</html>
