﻿@model VencruApi.Models.ConfirmInvoiceModel
<!doctype html>
<html lang="EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email</title>

</head>
<body>

    <div style="
            position: relative;
            float: none;
            clear: both;
            width: 100%;
            margin: 0 auto;
            max-width: 720px;
        ">
        <div style="
                position: relative;
                float: left;
                width: 100%;
                background-color: #fff;
                font-family: sans-serif;
            ">
            
                <div style="
                    position: relative;
                    float: left;
                    width: 100%;
                    text-align: left;
                    padding: 20px 20px 20px;
                ">
                    <img style="display: inline-block;height: 79.5px; font-size:18px; font-weight:bold;" alt="@Model.invoice.business.companyname"
                         src="@Model.invoice.business.logourl" />
                </div>

          
            <div style="
                    position: relative;
                    float: left;
                    width: 100%;
                    padding: 20px 20px 20px;
                    background-color: #f5f5f5;
                ">
                <h3 style='font-size: 18.72px;'>Invoice from @Model.invoice.business.companyname</h3>

                <p style="margin-bottom: 10px;">
                    Hi @Model.invoice.client.companyname, an invoice has been generated from  @Model.invoice.business.companyname, click on the button below to pay.
                </p>
                <a href="@Model.code" target="_blank" style="display: inline-block; text-align: center; cursor: pointer; margin: 10px 5px 0px 0px;color: #fff; text-decoration: none; background-color: #2D74DA; border:none; font-size: 20px; padding: 10px 30px; border-radius: 3px">
                    View Invoice
                </a>
                @*<p style="margin-bottom: 50px;">
                @Model.code
            </p>*@
                <p>
                    Thank you!<br /><br />
                    <span style="color: #2D74DA;">Your friends at Vencru</span>
                </p>
            </div>
        </div>
    </div>

</body>
</html>
