﻿@model VencruApi.Models.TeamMemberInviteViewModel
<!doctype html>
<html lang="EN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email</title>

</head>
<body>

    <div style="
            position: relative;
            float: none;
            clear: both;
            width: 100%;
            margin: 0 auto;
            max-width: 720px;
        ">
        <div style="
                position: relative;
                float: left;
                width: 100%;
                background-color: #fff;
                font-family: sans-serif;
            ">
            <div style="
                    position: relative;
                    float: left;
                    width: 100%;
                    text-align: left;
                    padding: 20px 20px 20px;
                ">
                <img style="
                            display: inline-block;
                            width: 100px;
                            height: 79.5px;
                        "
                     src="https://www.vencru.com/Content/img/logos/Logo-Blue.png" />
            </div>

            <div style="
                    position: relative;
                    float: left;
                    width: 100%;
                    padding: 20px 20px 20px;
                    background-color: #f5f5f5;
                ">

                <h3 style='font-size: 18.72px;'>Invitation to be on @Model.business.companyname team on Vencru</h3>

                <p style="margin-bottom: 10px;">
                    Hi @Model.lastname @Model.firstname,
                    you have been invited to be part of @Model.business.companyname team on Vencru, click on the button below to get started or copy and paste the url below on your browser
                </p>

                <a href="@Model.callbackurl" target="_blank" style="display: inline-block; text-align: center; cursor: pointer; margin: 10px 5px 0px 0px;color: #fff; text-decoration: none; background-color: #2D74DA; border:none; font-size: 20px; padding: 10px 30px; border-radius: 3px">
                    Verify
                </a>

                <p style="margin-bottom: 50px;">
                    @Model.callbackurl
                </p>

                <p>
                    Thank you!<br /><br />
                    <span style="color: #2D74DA;">Your friends at Vencru</span>
                </p>

            </div>
        </div>
    </div>

</body>
</html>
